.history {
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 4px 4px 19px 4px rgba(58, 42, 69, 0.2);
    overflow: hidden;
}
.thead {
    background-color: rgba(38, 174, 149, 0.6);
    color: #ffffff;
}
.th {
    padding: 10px 15px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}
.th:not(:last-child) {
    border-right: 1px solid #f2f7f8;
}
.tbody {
    font-size: 14px;
}
.tr {
    color: #164a45;
    background-color: #ffffff;
    transition: background-color 50ms linear, color 50ms linear;}
tr:hover {
    background-color: #2e756e;
    color: #ffffff;
}

.tr:nth-child(2n) {
    background-color: #f3f0f8;
    transition: background-color 50ms linear, color 50ms linear;}
tr:hover {
    background-color: #2e756e;
    color: #ffffff;
}
.td {
    padding: 10px 15px;
    text-align: center;
}
.td:not(:last-child) {
    border-right: 1px solid #f2f7f8;
}
